@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/CrimsonText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/CrimsonText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/CrimsonText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Delicious Handrawn';
    src: url('../fonts/DeliciousHandrawn-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}